<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Monitoring Display</title>
		<!-- <meta charset="utf-8" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
  		<script type="text/javascript" src="gauge.js"></script>
  		<meta charset="utf-8">
	    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
	    <!-- ECharts 3 引入 -->
	    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
	    <script src="{{url_for('static',filename = 'static/assets/js/jquery.min.js')}}"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.poptrox.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
	</head>
	
<body onload="initialize()">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="/static/images/banner">
					<div class="inner">
						<header>
							<h1>Real-time Stress Assessment</h1>
							<p>Your current health data is displayed here.<br />
							<!-- designed by <a href="https://templated.co/">Templated</a> and released under the Creative Commons License.</p> -->
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box1" >
								<!-- <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic01.jpg" alt="" /></a> -->
								<div class="inner">
									<h3>Your current Chest Temperature</h3>
									<p>##########################################################################################</p>
									<div id="main1" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
    
									<a href="https://en.wikipedia.org/wiki/Human_body_temperature" class="button style2 fit" data-poptrox="youtube,800x400">    </a>
								</div>
							</div>

							<div class="box2">
								<!-- <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic02.jpg" alt="" /></a> -->
								<div class="inner">
									<h3>Your current Heart Rate</h3>
									<p>##########################################################################################</p>
									<div id="main2" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
									<a href="https://en.wikipedia.org/wiki/Heart_rate" class="button style2 fit" data-poptrox="youtube,800x400">     </a>
								</div>
							</div>

							<div class="box3" >
								<!-- <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic03.jpg" alt="" /></a> -->
								<div class="inner">
									<h3>Your current Stress Level</h3>
									<p>##########################################################################################</p>
									<!-- <span  style="height:500px;border:1px solid #ccc;padding:10px;"></span> -->
									<div id="stressGaugeContainer" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
									<a href="https://en.wikipedia.org/wiki/Stress" class="button style3 fit" data-poptrox="youtube,800x400">     </a>
								</div>
							</div>

					

						</div>

					</div>
				</div>

			<!-- Footer -->
				<!-- <footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
					</div>
				</footer> -->
	</body>
		<!-- Scripts -->
			






    
 
    <script type="text/javascript">
 
    var myChart1 = echarts.init(document.getElementById('main1'),);
 
    myChart1.setOption({
        textStyle:{
          color: 'rgba(255, 255, 255, 0.8)'
        },
        title: {
            text: 'Temperature',
            textStyle:{
              fontSize:30,
              color:"white"
            }
            // color:'white'

        },
        tooltip: {},
        toolbox:{
          show:true,
        },
        // legend: {
        //     data:['cpu']
        // },
        // xAxis: [
        //   {
        //     // type:'value',
        //     // boundaryGap:false,
        //     data: [],

        // }],
        xAxis: {
            data: [],
            name:'time',
            nameLocation:'middle',
         nameGap: 40,
        },
        yAxis: [
        {min: 33.5,
         max: 35,
         name:'Temperature',
         nameLocation:'middle',
         nameGap: 40,

        },
        // textcolor:"white"
         ],



        lineStyle:{
          color:"red"
        },
        series: [{
            name: 'time',
            type: 'line',
            data: []
        }]
    });
 
 
    var time = ["","","","","","","","","",""],
        cpu = [0,0,0,0,0,0,0,0,0,0]
 
 
    //准备好统一的 callback 函数
    var update_mychart1 = function (res) {
    //res是json格式的response对象
 
        // 隐藏加载动画
        myChart1.hideLoading();
 
        // 准备数据
        time.push(res.data[0]);
        cpu.push(parseFloat(res.data[1]));
        if (time.length >= 10){
            time.shift();
            cpu.shift();
        }
 
        // 填入数据
        myChart1.setOption({
            xAxis: {
                data: time,
            },
            series: [{
                name: 'cpu', // 根据名字对应到相应的系列
                data: cpu
            }]
        });
 
    };
 
    // 首次显示加载动画
    myChart2.showLoading();
 
 
    // // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    // $(document).ready(function() {
    //     namespace = '/test';
    //     var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
 
    //     socket.on('server_response', function(res) {
    //         update_mychart(res);
    //     });
 
    // });
 
    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表

 
    </script>
    <!-- digram 2 -->
    <script type="text/javascript">
 
    var myChart2 = echarts.init(document.getElementById('main2'));
 
    myChart2.setOption({
        textStyle:{
          color: 'rgba(255, 255, 255, 0.8)'
        },
        title: {
            text: 'ECG',
            textStyle:{
              fontSize:30,
              color:"white"}
        },
        tooltip: {},
        legend: {
            data:['cpu']
        },
        xAxis: {
            data: [],
            name:'time',
            nameLocation:'middle',
         nameGap: 40,
        },
        yAxis: [
        {
         name:'voltage',
         nameLocation:'middle',
         nameGap: 50,

        },
        // textcolor:"white"
         ],
        series: [{
            name: 'cpu',
            type: 'line',
            data: []
        }]
    });
 
 
    var time = ["","","","","","","","","",""],
        cpu = [0,0,0,0,0,0,0,0,0,0]
        label = [0,0,0,0,0,0,0,0,0,0]
 
 
    //准备好统一的 callback 函数
    var update_mychart2 = function (res) {
    //res是json格式的response对象
 
        // 隐藏加载动画
        myChart2.hideLoading();
 
        // 准备数据
        time.push(res.data[0]);
        cpu.push(parseFloat(res.data[1]));
        label.push(parseFloat(res.data[3]));
        if (time.length >= 10){
            time.shift();
            cpu.shift();
            label.shift();
        }
 
        // 填入数据
        myChart2.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: 'label', // 根据名字对应到相应的系列
                data: label
            }]
        });
 
    };
 
    // 首次显示加载动画
    myChart2.showLoading();
 
 
    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function() {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
 
        socket.on('server_response', function(res) {
            update_mychart1(res);
            update_mychart2(res);
            updateGauges(res)
        });
 
    });
 
    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表

 
    </script>































    <!-- dath board -->


  <script>
      
    
   var gauges = [];
   
   function createGauge(name, label, min, max)
   {
    var config = 
    {
     size: 500,
     label: label,
     min: undefined != min ? min : 0,
     max: undefined != max ? max : 3,
     minorTicks: 5
    }
    
    var range = config.max - config.min;
    config.redZones = [{ from: config.min + range*0.33, to: config.min + range*0.66 }];
    config.yellowZones = [{ from: config.min + range*1, to: config.max }];
    
    gauges[name] = new Gauge(name + "GaugeContainer", config);
    gauges[name].render();
   }
   
   function createGauges()
   {
    createGauge("stress", "Stress");
    // createGauge("cpu", "CPU");
    // createGauge("network", "Network");
    //createGauge("test", "Test", -50, 50 );
   }
   
   function updateGauges(res)
   {
    for (var key in gauges)
    {
     var value = getRandomValue(gauges[key],res)
     gauges[key].redraw(value);
    }
   }
   
   function getRandomValue(gauge,res)
   {
    var overflow = 0; //10;
    return gauge.config.min - overflow + (gauge.config.max - gauge.config.min + overflow*2) *  (res.data[2]-0.5)/3;
   }
   
   function initialize()
   {
    createGauges();
    setInterval(updateGauges, 5000);
   }
   function Gauge(placeholderName, configuration)
{
 this.placeholderName = placeholderName;
 
 var self = this; // for internal d3 functions
 
 this.configure = function(configuration)
 {
  this.config = configuration;
  
  this.config.size = this.config.size * 0.9;
  
  this.config.raduis = this.config.size * 0.97 / 2;
  this.config.cx = this.config.size / 2;
  this.config.cy = this.config.size / 2;
  
  this.config.min = undefined != configuration.min ? configuration.min : 0; 
  this.config.max = undefined != configuration.max ? configuration.max : 100; 
  this.config.range = this.config.max - this.config.min;
  
  this.config.majorTicks = configuration.majorTicks || 5;
  this.config.minorTicks = configuration.minorTicks || 2;
  
  this.config.greenColor  = configuration.greenColor || "#109618";
  this.config.yellowColor = configuration.yellowColor || "#FF9900";
  this.config.redColor  = configuration.redColor || "#DC3912";
  
  this.config.transitionDuration = configuration.transitionDuration || 500;
 }

 this.render = function()
 {
  this.body = d3.select("#" + this.placeholderName)
       .append("svg:svg")
       .attr("class", "gauge")
       .attr("width", this.config.size)
       .attr("height", this.config.size);
  
  this.body.append("svg:circle")
     .attr("cx", this.config.cx)
     .attr("cy", this.config.cy)
     .attr("r", this.config.raduis)
     .style("fill", "#ccc")
     .style("stroke", "#000")
     .style("stroke-width", "0.5px");
     
  this.body.append("svg:circle")
     .attr("cx", this.config.cx)
     .attr("cy", this.config.cy)
     .attr("r", 0.9 * this.config.raduis)
     .style("fill", "#fff")
     .style("stroke", "#e0e0e0")
     .style("stroke-width", "2px");
     
  for (var index in this.config.greenZones)
  {
   this.drawBand(this.config.greenZones[index].from, this.config.greenZones[index].to, self.config.greenColor);
  }
  
  for (var index in this.config.yellowZones)
  {
   this.drawBand(this.config.yellowZones[index].from, this.config.yellowZones[index].to, self.config.yellowColor);
  }
  
  for (var index in this.config.redZones)
  {
   this.drawBand(this.config.redZones[index].from, this.config.redZones[index].to, self.config.redColor);
  }
  
  if (undefined != this.config.label)
  {
   var fontSize = Math.round(this.config.size / 9);
   this.body.append("svg:text")
      .attr("x", this.config.cx)
      .attr("y", this.config.cy / 2 + fontSize / 2)
      .attr("dy", fontSize / 2)
      .attr("text-anchor", "middle")
      .text(this.config.label)
      .style("font-size", fontSize + "px")
      .style("fill", "#333")
      .style("stroke-width", "0px");
  }
  
  var fontSize = Math.round(this.config.size / 16);
  var majorDelta = this.config.range / (this.config.majorTicks - 1);
  for (var major = this.config.min; major <= this.config.max; major += majorDelta)
  {
   var minorDelta = majorDelta / this.config.minorTicks;
   for (var minor = major + minorDelta; minor < Math.min(major + majorDelta, this.config.max); minor += minorDelta)
   {
    var point1 = this.valueToPoint(minor, 0.75);
    var point2 = this.valueToPoint(minor, 0.85);
    
    this.body.append("svg:line")
       .attr("x1", point1.x)
       .attr("y1", point1.y)
       .attr("x2", point2.x)
       .attr("y2", point2.y)
       .style("stroke", "#666")
       .style("stroke-width", "1px");
   }
   
   var point1 = this.valueToPoint(major, 0.7);
   var point2 = this.valueToPoint(major, 0.85); 
   
   this.body.append("svg:line")
      .attr("x1", point1.x)
      .attr("y1", point1.y)
      .attr("x2", point2.x)
      .attr("y2", point2.y)
      .style("stroke", "#333")
      .style("stroke-width", "2px");
   
   if (major == this.config.min || major == this.config.max)
   {
    var point = this.valueToPoint(major, 0.63);
    
    this.body.append("svg:text")
        .attr("x", point.x)
        .attr("y", point.y)
        .attr("dy", fontSize / 3)
        .attr("text-anchor", major == this.config.min ? "start" : "end")
        .text(major)
        .style("font-size", fontSize + "px")
       .style("fill", "#333")
       .style("stroke-width", "0px");
   }
  }
  
  var pointerContainer = this.body.append("svg:g").attr("class", "pointerContainer");
  
  var midValue = (this.config.min + this.config.max) / 2;
  
  var pointerPath = this.buildPointerPath(midValue);
  
  var pointerLine = d3.svg.line()
         .x(function(d) { return d.x })
         .y(function(d) { return d.y })
         .interpolate("basis");
  
  pointerContainer.selectAll("path")
       .data([pointerPath])
       .enter()
        .append("svg:path")
         .attr("d", pointerLine)
         .style("fill", "#dc3912")
         .style("stroke", "#c63310")
         .style("fill-opacity", 0.7)
     
  pointerContainer.append("svg:circle")
       .attr("cx", this.config.cx)
       .attr("cy", this.config.cy)
       .attr("r", 0.12 * this.config.raduis)
       .style("fill", "#4684EE")
       .style("stroke", "#666")
       .style("opacity", 1);
  
  var fontSize = Math.round(this.config.size / 10);
  pointerContainer.selectAll("text")
       .data([midValue])
       .enter()
        .append("svg:text")
         .attr("x", this.config.cx)
         .attr("y", this.config.size - this.config.cy / 4 - fontSize)
         .attr("dy", fontSize / 2)
         .attr("text-anchor", "middle")
         .style("font-size", fontSize + "px")
         .style("fill", "#000")
         .style("stroke-width", "0px");
  
  this.redraw(this.config.min, 0);
 }
 
 this.buildPointerPath = function(value)
 {
  var delta = this.config.range / 13;
  
  var head = valueToPoint(value, 0.85);
  var head1 = valueToPoint(value - delta, 0.12);
  var head2 = valueToPoint(value + delta, 0.12);
  
  var tailValue = value - (this.config.range * (1/(270/360)) / 2);
  var tail = valueToPoint(tailValue, 0.28);
  var tail1 = valueToPoint(tailValue - delta, 0.12);
  var tail2 = valueToPoint(tailValue + delta, 0.12);
  
  return [head, head1, tail2, tail, tail1, head2, head];
  
  function valueToPoint(value, factor)
  {
   var point = self.valueToPoint(value, factor);
   point.x -= self.config.cx;
   point.y -= self.config.cy;
   return point;
  }
 }
 
 this.drawBand = function(start, end, color)
 {
  if (0 >= end - start) return;
  
  this.body.append("svg:path")
     .style("fill", color)
     .attr("d", d3.svg.arc()
      .startAngle(this.valueToRadians(start))
      .endAngle(this.valueToRadians(end))
      .innerRadius(0.65 * this.config.raduis)
      .outerRadius(0.85 * this.config.raduis))
     .attr("transform", function() { return "translate(" + self.config.cx + ", " + self.config.cy + ") rotate(270)" });
 }
 
 this.redraw = function(value, transitionDuration)
 {
  var pointerContainer = this.body.select(".pointerContainer");
  
  pointerContainer.selectAll("text").text(Math.round(value));
  
  var pointer = pointerContainer.selectAll("path");
  pointer.transition()
     .duration(undefined != transitionDuration ? transitionDuration : this.config.transitionDuration)
     //.delay(0)
     //.ease("linear")
     //.attr("transform", function(d) 
     .attrTween("transform", function()
     {
      var pointerValue = value;
      if (value > self.config.max) pointerValue = self.config.max + 0.02*self.config.range;
      else if (value < self.config.min) pointerValue = self.config.min - 0.02*self.config.range;
      var targetRotation = (self.valueToDegrees(pointerValue) - 90);
      var currentRotation = self._currentRotation || targetRotation;
      self._currentRotation = targetRotation;
      
      return function(step) 
      {
       var rotation = currentRotation + (targetRotation-currentRotation)*step;
       return "translate(" + self.config.cx + ", " + self.config.cy + ") rotate(" + rotation + ")"; 
      }
     });
 }
 
 this.valueToDegrees = function(value)
 {
  // thanks @closealert
  //return value / this.config.range * 270 - 45;
  return value / this.config.range * 270 - (this.config.min / this.config.range * 270 + 45);
 }
 
 this.valueToRadians = function(value)
 {
  return this.valueToDegrees(value) * Math.PI / 180;
 }
 
 this.valueToPoint = function(value, factor)
 {
  return {  x: this.config.cx - this.config.raduis * factor * Math.cos(this.valueToRadians(value)),
     y: this.config.cy - this.config.raduis * factor * Math.sin(this.valueToRadians(value))   };
 }
 
 // initialization
 this.configure(configuration); 
}

  </script>


</html>